.button-primary {
  background-color: #000000;
  border-radius: 5px;
  height: 60px;
  position: relative;
  width: 200px;
}

.button-primary .text {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 22px;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 151px;
}
